<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="activity">
            <h2><span>Activity</span> {{activity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Activity Name</span></dt>
                <dd>
                    <span>{{activity.activityName}}</span>
                </dd>
                <dt><span>Activity Description</span></dt>
                <dd>
                    <span>{{activity.activityDescription}}</span>
                </dd>
                <dt><span>Activity Duration</span></dt>
                <dd>
                    <span>{{activity.activityDuration}}</span>
                </dd>
                <dt><span>Activity Utility</span></dt>
                <dd>
                    <span>{{activity.activityUtility}}</span>
                </dd>
                <dt><span>Activity Reqs Id</span></dt>
                <dd>
                    <span>{{activity.activityReqsId}}</span>
                </dd>
                <dt><span>Activity Created By</span></dt>
                <dd>
                    <span>{{activity.activityCreatedBy}}</span>
                </dd>
                <dt><span>Activity Creation Date</span></dt>
                <dd>
                    <span>{{activity.activityCreationDate}}</span>
                </dd>
                <dt><span>Activity Modified By</span></dt>
                <dd>
                    <span>{{activity.activityModifiedBy}}</span>
                </dd>
                <dt><span>Activity Modified Date</span></dt>
                <dd>
                    <span>{{activity.activityModifiedDate}}</span>
                </dd>
                <dt><span>Subtheme</span></dt>
                <dd>
                    <div *ngIf="activity.subtheme">
                        <a [routerLink]="['/subtheme', activity.subtheme?.id, 'view']">{{activity.subtheme?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/activity', activity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
