<div>
    <h2 id="page-heading">
        <span>Activities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-activity" [routerLink]="['/activity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Activity
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="activities?.length === 0">
        <span>No activities found</span>
    </div>
    <div class="table-responsive" *ngIf="activities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Activity Name</span></th>
            <th scope="col" ><span>Activity Description</span></th>
            <th scope="col" ><span>Activity Duration</span></th>
            <th scope="col" ><span>Activity Utility</span></th>
            <th scope="col" ><span>Activity Reqs Id</span></th>
            <th scope="col" ><span>Activity Created By</span></th>
            <th scope="col" ><span>Activity Creation Date</span></th>
            <th scope="col" ><span>Activity Modified By</span></th>
            <th scope="col" ><span>Activity Modified Date</span></th>
            <th scope="col" ><span>Subtheme</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let activity of activities ;trackBy: trackId">
                <td><a [routerLink]="['/activity', activity.id, 'view' ]">{{activity.id}}</a></td>
                <td>{{activity.activityName}}</td>
                <td>{{activity.activityDescription}}</td>
                <td>{{activity.activityDuration}}</td>
                <td>{{activity.activityUtility}}</td>
                <td>{{activity.activityReqsId}}</td>
                <td>{{activity.activityCreatedBy}}</td>
                <td>{{activity.activityCreationDate | date:'mediumDate'}}</td>
                <td>{{activity.activityModifiedBy}}</td>
                <td>{{activity.activityModifiedDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="activity.subtheme">
                        <a [routerLink]="['/subtheme', activity.subtheme?.id, 'view' ]" >{{activity.subtheme?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/activity', activity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/activity', activity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/activity', { outlets: { popup: activity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
