<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-activity-heading">Create or edit a Activity</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activityName">Activity Name</label>
                    <input type="text" class="form-control" name="activityName" id="field_activityName"
                           formControlName="activityName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activityDescription">Activity Description</label>
                    <input type="text" class="form-control" name="activityDescription" id="field_activityDescription"
                           formControlName="activityDescription"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activityDuration">Activity Duration</label>
                    <input type="number" class="form-control" name="activityDuration" id="field_activityDuration"
                           formControlName="activityDuration"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activityUtility">Activity Utility</label>
                    <input type="number" class="form-control" name="activityUtility" id="field_activityUtility"
                           formControlName="activityUtility"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activityReqsId">Activity Reqs Id</label>
                    <input type="number" class="form-control" name="activityReqsId" id="field_activityReqsId"
                           formControlName="activityReqsId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activityCreatedBy">Activity Created By</label>
                    <input type="text" class="form-control" name="activityCreatedBy" id="field_activityCreatedBy"
                           formControlName="activityCreatedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activityCreationDate">Activity Creation Date</label>
                    <div class="input-group">
                        <input id="field_activityCreationDate" type="text" class="form-control" name="activityCreationDate" ngbDatepicker  #activityCreationDateDp="ngbDatepicker" formControlName="activityCreationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="activityCreationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activityModifiedBy">Activity Modified By</label>
                    <input type="text" class="form-control" name="activityModifiedBy" id="field_activityModifiedBy"
                           formControlName="activityModifiedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activityModifiedDate">Activity Modified Date</label>
                    <div class="input-group">
                        <input id="field_activityModifiedDate" type="text" class="form-control" name="activityModifiedDate" ngbDatepicker  #activityModifiedDateDp="ngbDatepicker" formControlName="activityModifiedDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="activityModifiedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_subtheme">Subtheme</label>
                    <select class="form-control" id="field_subtheme" name="subtheme" formControlName="subtheme">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subthemeOption.id === editForm.get('subtheme').value?.id ? editForm.get('subtheme').value : subthemeOption" *ngFor="let subthemeOption of subthemes; trackBy: trackSubthemeById">{{subthemeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
