<div>
    <h2 id="page-heading">
        <span>Student Activities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student-activity" [routerLink]="['/student-activity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Student Activity
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="studentActivities?.length === 0">
        <span>No studentActivities found</span>
    </div>
    <div class="table-responsive" *ngIf="studentActivities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Activity Start Date</span></th>
            <th scope="col" ><span>Activity End Date</span></th>
            <th scope="col" ><span>Activity Grade</span></th>
            <th scope="col" ><span>Student Activity Grade Date</span></th>
            <th scope="col" ><span>Student Activity Created Date</span></th>
            <th scope="col" ><span>Student Activity Created By</span></th>
            <th scope="col" ><span>Student Activity Modified Date</span></th>
            <th scope="col" ><span>Student Activity Modified By</span></th>
            <th scope="col" ><span>Activity</span></th>
            <th scope="col" ><span>Student</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let studentActivity of studentActivities ;trackBy: trackId">
                <td><a [routerLink]="['/student-activity', studentActivity.id, 'view' ]">{{studentActivity.id}}</a></td>
                <td>{{studentActivity.activityStartDate | date:'mediumDate'}}</td>
                <td>{{studentActivity.activityEndDate | date:'mediumDate'}}</td>
                <td>{{studentActivity.activityGrade}}</td>
                <td>{{studentActivity.studentActivityGradeDate | date:'mediumDate'}}</td>
                <td>{{studentActivity.studentActivityCreatedDate | date:'mediumDate'}}</td>
                <td>{{studentActivity.studentActivityCreatedBy}}</td>
                <td>{{studentActivity.studentActivityModifiedDate | date:'mediumDate'}}</td>
                <td>{{studentActivity.studentActivityModifiedBy | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="studentActivity.activity">
                        <a [routerLink]="['/activity', studentActivity.activity?.id, 'view' ]" >{{studentActivity.activity?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="studentActivity.student">
                        <a [routerLink]="['/student', studentActivity.student?.id, 'view' ]" >{{studentActivity.student?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/student-activity', studentActivity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student-activity', studentActivity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student-activity', { outlets: { popup: studentActivity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
