<div>
    <h2 id="page-heading">
        <span>Themes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-theme" [routerLink]="['/theme/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Theme
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="themes?.length === 0">
        <span>No themes found</span>
    </div>
    <div class="table-responsive" *ngIf="themes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Theme Name</span></th>
            <th><span>Theme Description</span></th>
            <th><span>Theme Created By</span></th>
            <th><span>Theme Creation Date</span></th>
            <th><span>Theme Modified By</span></th>
            <th><span>Theme Modified Date</span></th>
            <th><span>Subject</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let theme of themes ;trackBy: trackId">
                <td><a [routerLink]="['/theme', theme.id, 'view' ]">{{theme.id}}</a></td>
                <td>{{theme.themeName}}</td>
                <td>{{theme.themeDescription}}</td>
                <td>{{theme.themeCreatedBy}}</td>
                <td>{{theme.themeCreationDate | date:'mediumDate'}}</td>
                <td>{{theme.themeModifiedBy}}</td>
                <td>{{theme.themeModifiedDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="theme.subject">
                        <a [routerLink]="['/subject', theme.subject?.id, 'view' ]" >{{theme.subject?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/theme', theme.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/theme', theme.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/theme', { outlets: { popup: theme.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
