<div>
    <h2 id="page-heading">
        <span>Subjects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subject" [routerLink]="['/subject/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Subject
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="subjects?.length === 0">
        <span>No subjects found</span>
    </div>
    <div class="table-responsive" *ngIf="subjects?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Subject Name</span></th>
            <th><span>Subject Description</span></th>
            <th><span>Subject Credits</span></th>
            <th><span>Subject Created By</span></th>
            <th><span>Subject Creation Date</span></th>
            <th><span>Subject Modified By</span></th>
            <th><span>Subject Modified Date</span></th>
            <th><span>Teacher</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subject of subjects ;trackBy: trackId">
                <td><a [routerLink]="['/subject', subject.id, 'view' ]">{{subject.id}}</a></td>
                <td>{{subject.subjectName}}</td>
                <td>{{subject.subjectDescription}}</td>
                <td>{{subject.subjectCredits}}</td>
                <td>{{subject.subjectCreatedBy}}</td>
                <td>{{subject.subjectCreationDate | date:'mediumDate'}}</td>
                <td>{{subject.subjectModifiedBy}}</td>
                <td>{{subject.subjectModifiedDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="subject.teacher">
                        <a [routerLink]="['/teacher', subject.teacher?.id, 'view' ]" >{{subject.teacher?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/subject', subject.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/subject', subject.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/subject', { outlets: { popup: subject.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
