<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="studentSchedule">
            <h2><span>Student Schedule</span> {{studentSchedule.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Schedule Created By</span></dt>
                <dd>
                    <span>{{studentSchedule.scheduleCreatedBy}}</span>
                </dd>
                <dt><span>Schedule Creation Date</span></dt>
                <dd>
                    <span>{{studentSchedule.scheduleCreationDate}}</span>
                </dd>
                <dt><span>Schedule Modified By</span></dt>
                <dd>
                    <span>{{studentSchedule.scheduleModifiedBy}}</span>
                </dd>
                <dt><span>Schedule Modified Date</span></dt>
                <dd>
                    <span>{{studentSchedule.scheduleModifiedDate}}</span>
                </dd>
                <dt><span>Group</span></dt>
                <dd>
                    <div *ngIf="studentSchedule.group">
                        <a [routerLink]="['/group', studentSchedule.group?.id, 'view']">{{studentSchedule.group?.id}}</a>
                    </div>
                </dd>
                <dt><span>Student</span></dt>
                <dd>
                    <div *ngIf="studentSchedule.student">
                        <a [routerLink]="['/student', studentSchedule.student?.id, 'view']">{{studentSchedule.student?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/student-schedule', studentSchedule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
