<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-student-schedule-heading">Create or edit a Student Schedule</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentScheduleCreatedBy">Student Schedule Created By</label>
                    <input type="text" class="form-control" name="studentScheduleCreatedBy" id="field_studentScheduleCreatedBy"
                           formControlName="studentScheduleCreatedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentScheduleCreationDate">Student Schedule Creation Date</label>
                    <div class="input-group">
                        <input id="field_studentScheduleCreationDate" type="text" class="form-control" name="studentScheduleCreationDate" ngbDatepicker  #studentScheduleCreationDateDp="ngbDatepicker" formControlName="studentScheduleCreationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="studentScheduleCreationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentScheduleModifiedBy">Student Schedule Modified By</label>
                    <input type="text" class="form-control" name="studentScheduleModifiedBy" id="field_studentScheduleModifiedBy"
                           formControlName="studentScheduleModifiedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentScheduleModifiedDate">Student Schedule Modified Date</label>
                    <div class="input-group">
                        <input id="field_studentScheduleModifiedDate" type="text" class="form-control" name="studentScheduleModifiedDate" ngbDatepicker  #studentScheduleModifiedDateDp="ngbDatepicker" formControlName="studentScheduleModifiedDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="studentScheduleModifiedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_group">Group</label>
                    <select class="form-control" id="field_group" name="group" formControlName="group">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="groupOption.id === editForm.get('group').value?.id ? editForm.get('group').value : groupOption" *ngFor="let groupOption of groups; trackBy: trackGroupById">{{groupOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_student">Student</label>
                    <select class="form-control" id="field_student" name="student" formControlName="student">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="studentOption.id === editForm.get('student').value?.id ? editForm.get('student').value : studentOption" *ngFor="let studentOption of students; trackBy: trackStudentById">{{studentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
