<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="group">
            <h2><span>Group</span> {{group.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Group Created By</span></dt>
                <dd>
                    <span>{{group.groupCreatedBy}}</span>
                </dd>
                <dt><span>Group Creation Date</span></dt>
                <dd>
                    <span>{{group.groupCreationDate}}</span>
                </dd>
                <dt><span>Group Modified By</span></dt>
                <dd>
                    <span>{{group.groupModifiedBy}}</span>
                </dd>
                <dt><span>Group Modified Date</span></dt>
                <dd>
                    <span>{{group.groupModifiedDate}}</span>
                </dd>
                <dt><span>Subject</span></dt>
                <dd>
                    <div *ngIf="group.subject">
                        <a [routerLink]="['/subject', group.subject?.id, 'view']">{{group.subject?.id}}</a>
                    </div>
                </dd>
                <dt><span>Teacher</span></dt>
                <dd>
                    <div *ngIf="group.teacher">
                        <a [routerLink]="['/teacher', group.teacher?.id, 'view']">{{group.teacher?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/group', group.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
