<div>
    <h2 id="page-heading">
        <span>Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-group" [routerLink]="['/group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Group
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="groups?.length === 0">
        <span>No groups found</span>
    </div>
    <div class="table-responsive" *ngIf="groups?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Group Created By</span></th>
            <th scope="col" ><span>Group Creation Date</span></th>
            <th scope="col" ><span>Group Modified By</span></th>
            <th scope="col" ><span>Group Modified Date</span></th>
            <th scope="col" ><span>Subject</span></th>
            <th scope="col" ><span>Teacher</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let group of groups ;trackBy: trackId">
                <td><a [routerLink]="['/group', group.id, 'view' ]">{{group.id}}</a></td>
                <td>{{group.groupCreatedBy}}</td>
                <td>{{group.groupCreationDate | date:'mediumDate'}}</td>
                <td>{{group.groupModifiedBy}}</td>
                <td>{{group.groupModifiedDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="group.subject">
                        <a [routerLink]="['/subject', group.subject?.id, 'view' ]" >{{group.subject?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="group.teacher">
                        <a [routerLink]="['/teacher', group.teacher?.id, 'view' ]" >{{group.teacher?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/group', group.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/group', group.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/group', { outlets: { popup: group.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
