<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subject">
            <form name="planForm" role="form" novalidate (ngSubmit)="generatePlan()" [formGroup]="planForm">
                <h2 id="jhi-subject-heading">Create an Experiment Plan from Subject</h2>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">
                            <div>
                                <jhi-alert-error></jhi-alert-error>
                                <div class="form-group">
                                    <label class="form-control-label" for="field_studentCredits">Available Credits</label>
                                    <input type="number" class="form-control" name="studentCredits" id="field_studentCredits" formControlName="studentCredits"/>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="field_studentMinGrade">Minimum Grade</label>
                                    <input type="number" class="form-control" name="studentMinGrade" id="field_studentMinGrade" formControlName="studentMinGrade"/>
                                </div>
                                <div class="form-group">
                                    <label formArrayName="selectedActivities" *ngFor="let activity of planForm.controls.selectedActivities.controls; let i = index">
                                        <input type="checkbox" [formControlName]="i">
                                        {{activities[i].activityName}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <jhi-learning-diagram [model]="model"></jhi-learning-diagram>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-plan" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon> <span>Cancel</span>
                    </button>
                    <button type="submit" id="generate-plan" class="btn btn-primary">
                        <fa-icon [icon]="'map'"></fa-icon> <span>Generate PDDLs (domain & problem)</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
