<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-subtheme-heading">Create or edit a Subtheme</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subthemeName">Subtheme Name</label>
                    <input type="text" class="form-control" name="subthemeName" id="field_subthemeName"
                           formControlName="subthemeName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subthemeDescription">Subtheme Description</label>
                    <input type="text" class="form-control" name="subthemeDescription" id="field_subthemeDescription"
                           formControlName="subthemeDescription"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subthemeCreatedBy">Subtheme Created By</label>
                    <input type="text" class="form-control" name="subthemeCreatedBy" id="field_subthemeCreatedBy"
                           formControlName="subthemeCreatedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subthemeCreationDate">Subtheme Creation Date</label>
                    <div class="input-group">
                        <input id="field_subthemeCreationDate" type="text" class="form-control" name="subthemeCreationDate" ngbDatepicker  #subthemeCreationDateDp="ngbDatepicker" formControlName="subthemeCreationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="subthemeCreationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subthemeModifiedBy">Subtheme Modified By</label>
                    <input type="text" class="form-control" name="subthemeModifiedBy" id="field_subthemeModifiedBy"
                           formControlName="subthemeModifiedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subthemeModifiedDate">Subtheme Modified Date</label>
                    <div class="input-group">
                        <input id="field_subthemeModifiedDate" type="text" class="form-control" name="subthemeModifiedDate" ngbDatepicker  #subthemeModifiedDateDp="ngbDatepicker" formControlName="subthemeModifiedDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="subthemeModifiedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_subthemeMaxGrade">Subtheme Max Grade</label>
                    <input type="number" class="form-control" name="subthemeMaxGrade" id="field_subthemeMaxGrade"
                           formControlName="subthemeMaxGrade"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_theme">Theme</label>
                    <select class="form-control" id="field_theme" name="theme" formControlName="theme">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="themeOption.id === editForm.get('theme').value?.id ? editForm.get('theme').value : themeOption" *ngFor="let themeOption of themes; trackBy: trackThemeById">{{themeOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
