<div>
    <h2 id="page-heading">
        <span>Subthemes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subtheme" [routerLink]="['/subtheme/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Subtheme
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="subthemes?.length === 0">
        <span>No subthemes found</span>
    </div>
    <div class="table-responsive" *ngIf="subthemes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Subtheme Name</span></th>
            <th scope="col" ><span>Subtheme Description</span></th>
            <th scope="col" ><span>Subtheme Created By</span></th>
            <th scope="col" ><span>Subtheme Creation Date</span></th>
            <th scope="col" ><span>Subtheme Modified By</span></th>
            <th scope="col" ><span>Subtheme Modified Date</span></th>
            <th scope="col" ><span>Subtheme Max Grade</span></th>
            <th scope="col" ><span>Theme</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subtheme of subthemes ;trackBy: trackId">
                <td><a [routerLink]="['/subtheme', subtheme.id, 'view' ]">{{subtheme.id}}</a></td>
                <td>{{subtheme.subthemeName}}</td>
                <td>{{subtheme.subthemeDescription}}</td>
                <td>{{subtheme.subthemeCreatedBy}}</td>
                <td>{{subtheme.subthemeCreationDate | date:'mediumDate'}}</td>
                <td>{{subtheme.subthemeModifiedBy}}</td>
                <td>{{subtheme.subthemeModifiedDate | date:'mediumDate'}}</td>
                <td>{{subtheme.subthemeMaxGrade}}</td>
                <td>
                    <div *ngIf="subtheme.theme">
                        <a [routerLink]="['/theme', subtheme.theme?.id, 'view' ]" >{{subtheme.theme?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/subtheme', subtheme.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/subtheme', subtheme.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/subtheme', { outlets: { popup: subtheme.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
