<div>
    <h2 id="page-heading">
        <span>Students</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student" [routerLink]="['/student/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Student
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="students?.length === 0">
        <span>No students found</span>
    </div>
    <div class="table-responsive" *ngIf="students?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Student First Name</span></th>
            <th scope="col" ><span>Student Last Name</span></th>
            <th scope="col" ><span>Student Email</span></th>
            <th scope="col" ><span>Student Password</span></th>
            <th scope="col" ><span>Student Credits</span></th>
            <th scope="col" ><span>Student Created By</span></th>
            <th scope="col" ><span>Student Creation Date</span></th>
            <th scope="col" ><span>Student Modified By</span></th>
            <th scope="col" ><span>Student Modified Date</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let student of students ;trackBy: trackId">
                <td><a [routerLink]="['/student', student.id, 'view' ]">{{student.id}}</a></td>
                <td>{{student.studentFirstName}}</td>
                <td>{{student.studentLastName}}</td>
                <td>{{student.studentEmail}}</td>
                <td>{{student.studentPassword}}</td>
                <td>{{student.studentCredits}}</td>
                <td>{{student.studentCreatedBy}}</td>
                <td>{{student.studentCreationDate | date:'mediumDate'}}</td>
                <td>{{student.studentModifiedBy}}</td>
                <td>{{student.studentModifiedDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/student', student.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student', student.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student', { outlets: { popup: student.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
