<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-student-heading">Create or edit a Student</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentFirstName">Student First Name</label>
                    <input type="text" class="form-control" name="studentFirstName" id="field_studentFirstName"
                           formControlName="studentFirstName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentLastName">Student Last Name</label>
                    <input type="text" class="form-control" name="studentLastName" id="field_studentLastName"
                           formControlName="studentLastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentEmail">Student Email</label>
                    <input type="text" class="form-control" name="studentEmail" id="field_studentEmail"
                           formControlName="studentEmail"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentPassword">Student Password</label>
                    <input type="text" class="form-control" name="studentPassword" id="field_studentPassword"
                           formControlName="studentPassword"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentCredits">Student Credits</label>
                    <input type="text" class="form-control" name="studentCredits" id="field_studentCredits"
                           formControlName="studentCredits"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentCreatedBy">Student Created By</label>
                    <input type="text" class="form-control" name="studentCreatedBy" id="field_studentCreatedBy"
                           formControlName="studentCreatedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentCreationDate">Student Creation Date</label>
                    <div class="input-group">
                        <input id="field_studentCreationDate" type="text" class="form-control" name="studentCreationDate" ngbDatepicker  #studentCreationDateDp="ngbDatepicker" formControlName="studentCreationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="studentCreationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentModifiedBy">Student Modified By</label>
                    <input type="text" class="form-control" name="studentModifiedBy" id="field_studentModifiedBy"
                           formControlName="studentModifiedBy"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_studentModifiedDate">Student Modified Date</label>
                    <div class="input-group">
                        <input id="field_studentModifiedDate" type="text" class="form-control" name="studentModifiedDate" ngbDatepicker  #studentModifiedDateDp="ngbDatepicker" formControlName="studentModifiedDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="studentModifiedDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
